@font-face {
  font-family: "GlacialBold";
  src: url("fonts/GlacialIndifference-Bold.woff2") format("woff2"),
    url("fonts/GlacialIndifference-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glacial";
  src: url("fonts/GlacialIndifference-Regular.woff2") format("woff2"),
    url("fonts/GlacialIndifference-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GlacialItalic";
  src: url("fonts/GlacialIndifference-Italic.woff2") format("woff2"),
    url("fonts/GlacialIndifference-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ZuumeSemiBold";
  src: url("fonts/Zuume-SemiBold.woff2") format("woff2"),
    url("fonts/Zuume-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  /* outline: 2px dashed red; */
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  /* outline: 2px dashed red; */
  margin: 0px;
  min-height: 100%;
  width: 100%;
  color: white;
  font-family: Glacial;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(pictures/admin.jpg);
  background-size: cover;
}

/* HEADER */

header {
  display: flex;
  /* outline: 2px dashed black; */
  height: 6rem;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 2rem auto auto auto;
}

.logo {
  width: 53.2rem;
  height: 3rem;
  /* outline: 2px dashed rgb(231, 255, 215); */
}

.seteyu {
  height: 4.3rem;
  margin-top: -8px;
  margin-left: 33px;
}

nav {
  /* outline: 2px dashed rgb(152, 143, 48); */
  overflow: hidden;
  height: 3rem;
  display: flex;
  width: 50rem;
  z-index: 1;
  letter-spacing: 1px;
}

nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline 0.3rem gray;
  text-underline-position: under;
  text-underline-offset: 0.2rem;
}

nav a#active {
  color: white;
  font-family: GlacialBold;
  text-decoration: underline 0.3rem #ffcc32;
  text-underline-position: under;
  text-underline-offset: 0.2rem;
}

/* BODY */

.content {
  display: flex;
  /* outline: 2px dashed green; */
  margin: auto;
  height: 70vh;
  width: 90vw;
  justify-content: space-evenly;
  align-items: center;
}

/* 3D JSON */

.building {
  /* outline: 2px dashed yellow; */
  width: 60%;
  height: 68vh;
}

iframe {
  height: 86vh;
  width: 58vw;
  position: absolute;
  /* outline: 2px dashed purple; */
  left: 0;
}

/* canvas#canvas3d {
  outline: 2px dashed peru;
} */

/* TEXT BESIDE BUILDING */

.details {
  /* outline: 2px dashed rgb(112, 39, 51); */
  width: 37%;
  height: 100%;
}

input {
  margin-top: 3rem;
  color: white;
  /* outline: 2px dashed pink; */
  background: none;
  border-bottom: 0.5px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 15rem;
  height: 2rem;
  font-family: Glacial;
  font-size: 1rem;
  letter-spacing: 1px;
}

input:focus {
  outline: none;
  color: white;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.text h2 {
  letter-spacing: 2px;
  /* outline: 2px dashed blue; */
  font-size: 1.5rem;
  margin: 5rem 0rem 0rem 0rem;
  font-weight: 100;
}

.text h1.office_name {
  font-family: ZuumeSemiBold;
  letter-spacing: -1.5px;
  font-size: 6.5rem;
  color: #ffcc32;
  /* outline: 2px dashed blue; */
  margin: 0.4rem 0rem 0rem 0rem;
}

.descrip_box {
  /* outline: 2px dashed gold; */
  width: 80%;
  z-index: 2;
}

.description {
  /* outline: 2px dashed blue; */
  font-size: 1.4rem;
}

.true_location {
  /* outline: 2px dashed blue; */
  font-family: GlacialItalic;
  font-size: 1rem;
}

.viewmore {
  margin: 3rem 0 0 0;
  padding: 0.5rem 2rem;
  font-family: Glacial Indifference;
  border-radius: 1rem;
  border: none;
  background-color: white;
}

.viewmore:hover {
  margin: 3rem 0 0 0;
  padding: 0.5rem 2rem;
  font-family: Glacial Indifference;
  border-radius: 1rem;
  border: none;
  background-color: rgb(212, 212, 212);
}

/* BOTTOM MENU */

.menu {
  display: flex;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* outline: 2px dashed blue; */
  justify-content: space-evenly;
  width: 95vw;
  margin: auto;
  align-items: center;
  height: 9rem;
}

.locs {
  width: 6rem;
  height: 9rem;
  outline: solid 0px #ffffff;

  text-align: center;
  background-color: rgb(109, 109, 109);
  display: flex;
  justify-content: center;

  transition-duration: 0.3s;
  transition-property: height;
}

.locs:hover {
  outline: 2px solid white;
  cursor: pointer;
}

.active {
  width: 6rem;
  height: 11rem;
  outline: 2px solid #ffcc32;
}

.locs:hover.active {
  cursor: default;
  outline: 2px solid #ffcc32;
}

.locs p {
  align-self: flex-end;
  padding: 0 10px;
}

/* pictures */

.admin {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/admin.jpg);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.innovc {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/innovc.jpg);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.lib {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/lib.jpg);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.regs {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/regs.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.lounge {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/lounge.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.cmeres {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/cmeresear.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.records {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/rao.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.deaneng {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/deanseng.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.bac {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/bac.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.centrum {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/centrum.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.clinic {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/clinic.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.kadasig {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/kadasig.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.mis {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/mis.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.canteen {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/canteen.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.oval {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/oval.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}

.sao {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(pictures/sao.JPG);
  background-size: cover;
  align-items: center;
  background-position: center;
}
