@font-face {
    font-family: 'Zuume';
    src: url('Zuume-BoldItalic.woff2') format('woff2'),
        url('Zuume-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-BlackItalic.woff2') format('woff2'),
        url('Zuume-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-Black.woff2') format('woff2'),
        url('Zuume-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-Italic.woff2') format('woff2'),
        url('Zuume-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-Bold.woff2') format('woff2'),
        url('Zuume-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-ExtraBoldItalic.woff2') format('woff2'),
        url('Zuume-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-ExtraLightItalic.woff2') format('woff2'),
        url('Zuume-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-ExtraBold.woff2') format('woff2'),
        url('Zuume-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-ExtraLight.woff2') format('woff2'),
        url('Zuume-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-Light.woff2') format('woff2'),
        url('Zuume-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-Regular.woff2') format('woff2'),
        url('Zuume-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-MediumItalic.woff2') format('woff2'),
        url('Zuume-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-LightItalic.woff2') format('woff2'),
        url('Zuume-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-Medium.woff2') format('woff2'),
        url('Zuume-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-SemiBoldItalic.woff2') format('woff2'),
        url('Zuume-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zuume';
    src: url('Zuume-SemiBold.woff2') format('woff2'),
        url('Zuume-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('GlacialIndifference-Bold.woff2') format('woff2'),
        url('GlacialIndifference-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('GlacialIndifference-Regular.woff2') format('woff2'),
        url('GlacialIndifference-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('GlacialIndifference-Italic.woff2') format('woff2'),
        url('GlacialIndifference-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

