@font-face {
	font-family: 'Glacial';
	src: url(../fonts/GlacialIndifference-Regular.woff2) format('woff2'),
	url(../fonts/GlacialIndifference-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}